html, body, #app {
    height: 100%;
}

[v-cloak] { display: none; }

.md-app {
    min-height: 350px;
    border: 1px solid rgba(0, 0, 0, .12);
    height: 100%;
}

.test-view {
    border: 1px black solid;
}

.restaurant-card {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.app-logo {
    margin-left: 5px;
    margin-top: 20px;
    width: 20px;
    position: relative;
}

.app-logo .primary-dollar {
    font-size: 45px;
    font-weight: bold;
}

.app-logo .sub-dollars {
    margin-top: 10px;
    font-size: 13px;
    text-decoration: line-through;
    /*-webkit-text-stroke-width: 1px;*/
    /*-webkit-text-stroke-color: darkred;*/
}

.restaurant-card .restaurant-card-overlay {
    background: #FEFEFE;
    cursor: pointer;
}

.md-drawer {
    width: 233px;
}

.md-app {
    /*height: 100%;*/
}

.restaurant-card .pills {
    margin-top: 4px;
    height: 32px;
}

.restaurant-card .footer {
    margin-top: 6px;
}

.pills .md-chip {
    width: 150px;
    color: white;
    font-weight: bold;
}

.status-chip {
    font-weight: bolder;
    color: white !important;
}

.fixed {
    font-family: Consolas, monospace !important;
}

.md-menu-content {
    max-width: 500px;
}

.version {
    text-align: right;
}

.md-list-item-content>.md-progress-spinner:first-child {
    margin-right: 32px;
}

.flip-list-move {
  transition: transform 0.3s;
}

.md-table .md-table-cell.md-numeric .md-table-cell-container {
  display: inline;
}
.md-table .md-table-cell[width] .md-table-cell-container {
  width: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
}
