<md-content>
    <a class="github-fork-ribbon" href="https://github.com/sputt/restaurant-fees" data-ribbon="View source on GitHub" title="View source on GitHub">View source on GitHub</a>
    <p class="md-title">I Dislike Fees</p>
    <p class="md-body-1">
        My name is Spencer Putt. I built this page to try to help
        put an end to this ridiculous fee practice in some small way.

        The data comes from Reddit, visits to restaurants, and other personal accounts.
    </p>
    <heading class="md-subheading">Contributions</heading>
    <p class="md-body-1">
        Please open a pull request on Github or email me to add (or God willing, remove) a restaurant.
    </p>
    <heading class="md-subheading">Contact</heading>
    <p class="md-body-1">Send inquiries to <a href="mailto:fees.restaurant@gmail.com">fees.restaurant@gmail.com</a></p>
    <p class="md-body-1">
        To restaurants - please send corrections. I will happily include your point of view in your restaurant's fee page.
        If you found any of my coverage in the FAQ unfair, please email me to discuss.
    </p>
    <heading class="md-subheading">Thanks to</heading>
    <ul>
        <li>The /r/LosAngeles <a href="https://docs.google.com/spreadsheets/d/1EEPzeytrva770H2xPFFPDUUNdpnL_VQL4vbzFph-jus">Restaurant Surcharge List</a></li>
        <li>Github - for the great tooling to build and deploy this website. Source code <a href="https://github.com/sputt/restaurant-fees">here</a>.</li>
        <li>Transcrypt - <a href="https://www.transcrypt.org/">Transcrypt</a> is a Python to JavaScript transpiler. This website is written in Python.</li>
    </ul>

</md-content>
