<md-content>
    <a class="github-fork-ribbon" href="https://github.com/sputt/restaurant-fees" data-ribbon="View source on GitHub" title="View source on GitHub">View source on GitHub</a>
    <p class="md-title">I Dislike Fees</p>
    <p class="md-body-1">
        My name is Spencer Putt. I built this page to try to help
        put an end to this ridiculous fee practice in some small way.

        The data comes from Reddit, visits to restaurants, and other personal accounts.
    </p>
    <header class="md-headline">Contributions</header>
    <p class="md-body-1">
        View the restaurant page and click the link in the Corrections section to submit corrections or request removal.
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScx-IErAbv9aaEqTNshMai6c1E8FPNxJdgzjeK6n-e0KQV0Rg/viewform">Click here</a> to submit a new restaurant.
    </p>
    <p class="md-body-1">
        Contributions on <a href="https://github.com/sputt/restaurant-fees">Github</a> are welcome.
    </p>
    <header class="md-headline">Contact</header>
    <p class="md-body-1">Send inquiries to <a href="mailto:fees.restaurant@gmail.com">fees.restaurant@gmail.com</a></p>
    <header class="md-headline">Thanks to</header>
    <ul>
        <li>The /r/LosAngeles <a href="https://docs.google.com/spreadsheets/d/1EEPzeytrva770H2xPFFPDUUNdpnL_VQL4vbzFph-jus">Restaurant Surcharge List</a></li>
        <li>David Carstens and voluneers for maintaining the original list.</li>
        <li>Github - for the great tooling to build and deploy this website. Source code <a href="https://github.com/sputt/restaurant-fees">here</a>.</li>
        <li>Transcrypt - <a href="https://www.transcrypt.org/">Transcrypt</a> is a Python to JavaScript transpiler. This website is written in Python.</li>
    </ul>

</md-content>
