<md-content>
    <p class="md-title">What are junk fees?</p>
    <p class="md-body-1">
        Junk fees are any hidden charges attached to a purchase that obscure the real price of the items being purchased.
        For restaurants, they often serve as a way for a restaurant to collect additional money from a diner without
        including it in the price on the menu.
    </p>
    <p>As described by SB 478:
    <span class="md-body-2">"Hidden fees are fees in which a seller uses an artificially low headline price to attract a customer and usually either discloses additional required fees in smaller print, or reveals additional unavoidable charges later in the buying process."</span>
    </p>
    <p class="md-title">Are they legal?</p>
    <p class="md-body-1">
        Most restaurants do this legally by including a disclaimer on the menu or on a sign in the establishment. However,
        in California, legislation has been passed that may in fact make these fees illegal starting July 2024.
        See the <a href="https://oag.ca.gov/news/press-releases/attorney-general-bonta%E2%80%99s-sponsored-bill-ban-hidden-fees-california-signed-law">press release</a> here.
    </p>
    <p class="md-title">Why do restaurants collect junk fees?</p>
    <p class="md-body-1">
        Restaurants are under pressure due to rising costs and demands for more benefits for employees. Instead of <b>just</b> raising
        prices directly, they are looking for alternate ways to keep their menu prices down while still increasing income.

        Rationale varies from place to place, but some common themes are:
    </p>
    <md-table>
        <md-table-row>
            <md-table-cell>Health care</md-table-cell>
            <md-table-cell>Some restaurants expect consumers will be more sympathetic toward a junk fee if it is labeled as
    providing health care for employees.</md-table-cell>
        </md-table-row>
        <md-table-row>
            <md-table-cell>Regulatory compliance</md-table-cell>
            <md-table-cell>In an attempt to shame or divert blame for price increases, some restaurants label the
    fee as a regulatory compliance fee. This may be in response to stricter waste standards or wage floors.</md-table-cell>
        </md-table-row>
        <md-table-row>
            <md-table-cell>Safety and security fee</md-table-cell>
            <md-table-cell>I'm not sure what this one is for exactly, but some owners have reported that
    it is used to fund employee mental health care.</md-table-cell>
        </md-table-row>
        <md-table-row>
            <md-table-cell>Back of house</md-table-cell>
            <md-table-cell>Some fees are claimed to go straight to back of house workers that don't usually receive tips.</md-table-cell>
        </md-table-row>
    </md-table>
    <p>
        Note that this is just what is stated by the restaurant and they have no obligation to actually use the funds for
        what the fee description claims.  Many don't.
    </p>
</md-content>
