<md-content>
    <p class="md-title">What are junk fees?</p>
    <p class="md-body-1">
        Junk fees are any hidden charges attached to a purchase that obscure the real price of the items being purchased.
        For restaurants, they serve as a way for a restaurant to collect additional money from a diner without
        including it in the price on the menu.
    </p>
    <p>As described by SB 478:
    <span class="md-body-2">"Hidden fees are fees in which a seller uses an artificially low headline price to attract a customer and usually either discloses additional required fees in smaller print, or reveals additional unavoidable charges later in the buying process."</span>
    </p>
    <p class="md-title">Are they legal?</p>
    <p class="md-body-1">
        Most restaurants do this legally by including a disclaimer on the menu or on a sign in the establishment. However,
        in California, legislation has been passed that may in fact make these fees illegal starting July 2024.
        See the <a href="https://oag.ca.gov/news/press-releases/attorney-general-bonta%E2%80%99s-sponsored-bill-ban-hidden-fees-california-signed-law">press release</a> here.
    </p>
    <p class="md-title">Why do restaurants collect junk fees?</p>
    <p class="md-body-1">
        Restaurants are under pressure due to rising costs and demands for more benefits for employees. Instead of <b>just</b> raising
        prices directly, they are looking for alternate ways to keep their menu prices down while still increasing income.

        Rationale varies from place to place, but some common themes are:
    </p>
    <md-table>
        <md-table-row>
            <md-table-cell>Service fee</md-table-cell>
            <md-table-cell>Depending on the restaurant, this may or may not be a tip.</md-table-cell>
        </md-table-row>
        <md-table-row>
            <md-table-cell>Health care</md-table-cell>
            <md-table-cell>Some restaurants expect consumers will be more sympathetic toward a junk fee if it is labeled as
    providing health care for employees.</md-table-cell>
        </md-table-row>
        <md-table-row>
            <md-table-cell>Regulatory compliance</md-table-cell>
            <md-table-cell>In an attempt to shame or divert blame for price increases, some restaurants label the
    fee as a regulatory compliance fee. This may be in response to stricter waste standards or wage floors.</md-table-cell>
        </md-table-row>
        <md-table-row>
            <md-table-cell>Safety and security fee</md-table-cell>
            <md-table-cell>I'm not sure what this one is for exactly, but some owners have reported that
    it is used to fund employee mental health care.</md-table-cell>
        </md-table-row>
        <md-table-row>
            <md-table-cell>Back of house</md-table-cell>
            <md-table-cell>Some fees are claimed to go straight to back of house workers that don't usually receive tips.</md-table-cell>
        </md-table-row>
        <md-table-row>
            <md-table-cell>Environmental/<br>sustainability</md-table-cell>
            <md-table-cell>Intended to fund waste reduction and climate causes. There is an official program called Restore California where
            restaurants may add a 1% surcharge, which is sent to the California Air Resources Board to use in restoring soils.
            <p>
                The official fee is optional. The website all of the press releases linked is now <a href="https://www.perennialfarming.org/restoreca">offline</a>,
                so I don't think this fee should be common.
            </p>
            </md-table-cell>
        </md-table-row>
    </md-table>
    <p>
        Note that this is just what is stated by the restaurant and they have no obligation to actually use the funds for
        what the fee description claims. Based on employee accounts, many don't.
    </p>
    <p class="md-title">What do restaurants say about these fees?</p>
    <p class="md-body-1">
        Usually nothing, presumably so they go unnoticed. They are sometimes sold as a way of providing more equitable pay in a way that
        raising menu prices cannot, but I have not found a single explanation of this that makes sense. Here is an example from
        Jon and Vinny's <a href="">service fee Q/A</a>:
    </p>
    <p class="md-body-2">
        "At its core, the service charge is about driving change in our industry – helping ensure
        our business can thrive in challenging economic environments and compensating each member
        of our team in a more equitable way – in a way that uniformly increasing our food prices doesn’t allow for."
    </p>
    <p class="md-body-1">
        This is the entire text. They don't explain why raising prices wouldn't allow them to do the exact same thing.
    </p>
    <p class="md-body-1">
        The idea may be that raising the menu prices leads to higher percentage based tips, which are not always
        shared with all staff. This doesn't hold water for a few reasons:
    </p>
    <ul>
        <li>The employer can have a policy that tips are shared. This is legal in California.</li>
        <li>People typically tip on the total, which will include the fee anyway.</li>
        <li>They are welcome to abolish tips and pay a fair wage, which is also more consumer friendly.</li>
    </ul>
    <p class="md-body-1">
        For each individual restaurant I visit, I try to get the owners perspective on why they include junk fees. These
        accounts will be added to the restaurant's fee page, if collected.
    </p>
    <p class="md-title">How to I approach my server when asking for a fee to be removed?</p>
    <p class="md-body-1">
        Keep in mind the server is just the messenger and in many cases don't receive any portion of the fee.
        Politely ask what the fee is for and if it is mandatory. If he or she says it is, ask to speak to a manager.
        If you are friendly explaining to the manager that you were surprised to find this fee on your
        bill and you are unhappy about it, they should do their best to remove it and likely forward that feedback
        to the owner or their management.
    </p>
    <p class="md-title">"Why don't you just stay home if you aren't prepared to pay for the services provided to you?"</p>
    <p class="md-body-1">
        We are more than happy to pay a fair price for our meals and service. We don't want to be surprised when we get the bill.
    </p>
    <p class="md-title">"This is the way the industry is going. If I don't engage in this practice I'll lose out to businesses that do."</p>
    <p class="md-body-1">
        Honest, transparent pricing builds trust and loyalty with your customers. I'm not alone in
        a willingness to pay more high quality food and service, as long as I don't feel like I'm getting ripped off.
    </p>
</md-content>
