<md-content>
    <p class="md-title">Fight Junk Fees</p>
    <p>Many restaurants have been raising prices via hidden fees instead of increasing their menu prices.</p>
    <p>This practice is dishonest and unfair to the consumer. Help fight these fees by avoiding restaurants
    that engage in this practice or asking for the fee to be removed from your bill.</p>
    <p>See <a href="#/faq">the FAQ</a> for more details.</p>
    <restaurant-list :restaurants="restaurants" v-if="!fetching"></restaurant-list>
</md-content>
