<div>
<md-content>
    <table cellspacing="20px">
        <tr>
            <td>
                <div class="app-logo" style="clear: none">
                    <div class="primary-dollar">$</div>
                    <div class="sub-dollars">$$$$</div>
                </div>
            </td>
            <td>
                <span class="md-display-1" style="color: black;">Fight Junk Fees</span>
            </td>
        </tr>
    </table>
</md-content>
<md-content>
    <p>Many restaurants have been raising prices via hidden fees instead of increasing
        their menu prices.</p>
    <p>This practice is dishonest and unfair to the consumer. Help fight these fees by
        avoiding restaurants
        that engage in this practice or asking for the fee to be removed from your
        bill.</p>
    <p>See <a href="#/faq">the FAQ</a> for more details.</p>
    <restaurant-list :restaurants="restaurants" v-if="!fetching"></restaurant-list>
</md-content>
</div>