<div>
    <md-content class="top-bar">
        <div class="logo-bar">
            <div class="logo-container">
                <div class="app-logo">
                    <div class="primary-dollar">$</div>
                    <div class="sub-dollars">$$$$</div>
                </div>
            </div>
            <div class="title-container">
                Fight Junk Fees
            </div>
        </div>
        <transition name="expand">
            <div v-show="!filter" class="box">
                <p>Many restaurants have been raising prices via fees instead of
                    increasing their menu prices.</p>
                <p>Help fight these fees by avoiding restaurants
                    that engage in this practice or asking for the fee to be removed from
                    your bill.</p>
                <p>See <a href="#/faq">the FAQ</a> for more details.</p>
            </div>
        </transition>
    </md-content>
<div class="restaurant-list">
    <md-table class="restaurant-list" v-model="filtered_restaurants"
              :md-sort.sync="current_sort"
              :md-sort-order.sync="current_sort_order"
              :md-sort-fn="custom_sort" md-sort-order="asc">
        <md-table-toolbar>
            <md-field md-clearable class="md-toolbar-section-end">
                <md-input placeholder="Search by name" v-model="filter"
                          @input="search_table"></md-input>
            </md-field>
        </md-table-toolbar>
        <md-table-row>
            <md-table-head>Name</md-table-head>
            <md-table-head md-numeric>Fee</md-table-head>
            <md-table-head></md-table-head>
        </md-table-row>
            <router-link tag="tr" class="md-table-row" slot="md-table-row" slot-scope="{ item }" :to="/restaurant/ + item.name">
                <md-table-cell md-label="Name" md-sort-by="name">
                    {{ item.name }}
                </md-table-cell>
                  <md-table-cell md-label="Fees" md-sort-by="fees" md-numeric>
                      <fee-pill v-for="fee in item.fees" v-bind:key="fee.name" :fee="fee"></fee-pill>
                </md-table-cell>
            </router-link>

        <md-table-empty-state v-if="not_yet_filtered"
                md-label="Search for a restaurant">
            <span>Or <a href="#" @click="show_all()">click here</a> to show all.</span>
        </md-table-empty-state>
        <md-table-empty-state v-else
                md-label="No restaurants found"
                :md-description="`No restaurants found for this '${filter}' query. Try a different search term.`">
        </md-table-empty-state>
    </md-table>
    <p class="md-caption">
        <b>Disclaimer: </b> the fee information gathered here has been crowd-sourced or obtained during
        past visits to restaurants and we make no guarantee of its accuracy, but will in good faith attempt
        to keep it up-to-date. Always check with the restaurant directly for the latest fee policies.
    </p>
</div>
</div>
