<md-content class="restaurant-card">
    <div v-if="restaurant">
        <span class="md-headline">{{restaurant.name}}</span>
        <p class="md-body-1">
            {{restaurant.description}}
        </p>
        <header class="md-subheading">Fees</header>
        <p class="md-body-1">
            <span v-for="fee in restaurant.fees">
                {{fee.name}} - {{fee.percentage}}%
            </span>
        </p>
        <div v-if="restaurant.comments">
            <header class="md-subheading">Comments</header>
            <p class="md-body-1">
                {{restaurant.comments}}
            </p>
        </div>
        <header class="md-subheading">Removable</header>
        <p class="md-body-1">
            {{restaurant.removable ? 'Yes' : 'No'}}
        </p>
    </div>
</md-content>
