<div>
<md-content>
    <table cellspacing="20px">
        <tr>
            <td>
                <div class="app-logo" style="clear: none">
                    <div class="primary-dollar">$</div>
                    <div class="sub-dollars">$$$$</div>
                </div>
            </td>
            <td>
                <span class="md-display-1" style="color: black;">Fight Junk Fees</span>
            </td>
        </tr>
    </table>
</md-content>
<transition name="expand">
    <md-content v-show="!filter" class="box">
        <p>Many restaurants have been raising prices via hidden fees instead of increasing
            their menu prices.</p>
        <p>This practice is dishonest and unfair to the consumer. Help fight these fees by
            avoiding restaurants
            that engage in this practice or asking for the fee to be removed from your
            bill.</p>
        <p>See <a href="#/faq">the FAQ</a> for more details.</p>
    </md-content>
</transition>
<md-content>
    <md-table v-model="filtered_restaurants"
              :md-sort.sync="current_sort"
              :md-sort-order.sync="current_sort_order"
              :md-sort-fn="custom_sort" md-sort-order="asc">
        <md-table-toolbar>
            <md-field md-clearable class="md-toolbar-section-end">
                <md-input placeholder="Search by name" v-model="filter"
                          @input="search_table"></md-input>
            </md-field>
        </md-table-toolbar>
        <md-table-row>
            <md-table-head>Name</md-table-head>
            <md-table-head md-numeric>Fee</md-table-head>
            <md-table-head></md-table-head>
        </md-table-row>
            <router-link tag="tr" class="md-table-row" slot="md-table-row" slot-scope="{ item }" :to="/restaurant/ + item.name">
                <md-table-cell md-label="Name" md-sort-by="name">
                    {{ item.name }}
                </md-table-cell>
                  <md-table-cell md-label="Fees" md-sort-by="fees" md-numeric>
                      <span>{{ fee_display(item) }}</span>
                </md-table-cell>
            </router-link>

        <md-table-empty-state v-if="not_yet_filtered"
                md-label="Search for a restaurant">
            <span>Or <a href="#" @click="show_all()">click here</a> to show all.</span>
        </md-table-empty-state>
        <md-table-empty-state v-else
                md-label="No restaurants found"
                :md-description="`No restaurants found for this '${filter}' query. Try a different search term.`">
        </md-table-empty-state>
    </md-table>
</md-content>
</div>
