<md-content class="restaurant-card">
    <div v-if="restaurant">
        <span class="md-headline">{{restaurant.name}}</span>
        <p class="md-subheading">{{restaurant.location}}</p>
        <p class="md-body-1">
            {{restaurant.description}}
        </p>
        <header class="md-subheading">Fees</header>
        <ul>
            <li v-for="fee in processed_fees">{{fee}}</li>
        </ul>
        <header v-if="restaurant.comments" class="md-subheading">Comments</header>
        <div v-for="comment in restaurant.comments">
            <p class="md-body-1">
                {{comment}}
            </p>
        </div>
        <header class="md-subheading">Removable</header>
        <p class="md-body-1">
            {{restaurant.removable ? 'Yes' : 'No'}}
        </p>
    </div>
</md-content>
