<md-content>
    <md-table v-model="filtered_restaurants"
              @md-selected="on_select"
              :md-sort.sync="current_sort"
              :md-sort-order.sync="current_sort_order"
              :md-sort-fn="custom_sort" md-sort-order="asc">
        <md-table-toolbar>
            <!--        <h1 class="md-title">Search results ({{ filtered_restaurants.length }})</h1>-->
            <md-field md-clearable class="md-toolbar-section-end">
                <md-input placeholder="Search by name" v-model="filter"
                          @input="search_table"></md-input>
            </md-field>
        </md-table-toolbar>
        <md-table-row>
            <md-table-head>Name</md-table-head>
            <md-table-head md-numeric>Fee</md-table-head>
            <md-table-head></md-table-head>
        </md-table-row>
        <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="single">
            <md-table-cell md-label="Name" md-sort-by="name">
                {{ item.name }}
            </md-table-cell>
            <md-table-cell md-label="Fees" md-sort-by="fees" md-numeric>
                <span v-for="fee in item.fees">
                    {{ fee.percentage }}%
                </span>
            </md-table-cell>
        </md-table-row>
        <md-table-empty-state v-if="not_yet_filtered"
                md-label="Search for your restaurant">
            <span>Or <a href="#" @click="show_all()">click here</a> to show all.</span>
        </md-table-empty-state>
        <md-table-empty-state v-else
                md-label="No restaurants found"
                :md-description="`No restaurants found for this '${filter}' query. Try a different search term.`">
        </md-table-empty-state>
    </md-table>
</md-content>
